<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reteno.reteno_plugin">
    <application>
        <receiver
            android:name="com.reteno.reteno_plugin.RetenoPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.reteno.custom-push" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.reteno.Receiver.PushReceived"
            android:value="com.reteno.reteno_plugin.RetenoPushReceiver" />

        <receiver
            android:name="com.reteno.reteno_plugin.RetenoPushClickedReceiver"
            android:enabled="true"
            android:exported="true"/>
        <meta-data
            android:name="com.reteno.Receiver.NotificationClicked"
            android:value="com.reteno.reteno_plugin.RetenoPushClickedReceiver" />
    </application>
</manifest>
